<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to the CollegeUnify Application</h1>

    <!-- Button to go to Task Management page -->
    <a href="/tasks" class="btn btn-primary mb-3">Go to Task Management</a>
    
    <!-- Logout Button -->
    <a href ="/logout" class="btn btn-danger mb-3">Logout</a>
    
    <!-- Other sections for home page can be added here -->
</div>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-6o8NifL1HF5Ph9UlI5zzgbZ6QLsFS26jlV4TrtJ2eWfyA1jEWHabvhB5YDbxTm8A"
        crossorigin="anonymous"></script>

</body>
</html>